<div id="nav">
    {% if user.is_authenticated %}
        <a href="{% url 'homepage'%}">Home |</a>
        <a href="{% url 'addRecipe'%}">Add Recipe |</a>
        {% if user.is_staff %}
        <a href="{% url 'addAuthor'%}">Add Author |</a>
        {% endif %}
        <a href="{% url 'logout'%}">Logout |</a>
    {% else %}
        <a href="{% url 'homepage'%}">Home |</a>
        <a href="{% url 'login'%}">Login |</a>
        <a href="{% url 'register'%}">Register |</a>
    {% endif %}
</div> 
    
    
    
{% for item in recipes %}
<a href="{% url 'edit_recipe' item.id%}">Edit this recipe</a>
        <h2>{{item.title}} (Author: <a href="{% url 'author' item.author.name %}">{{item.author.name}}</a>)</h2>
        <h3>{{item.description}}</h3>
        <h4>{{item.timeRequired}}</h4>
        <p>{{item.instructions}}</p>

    {% endfor %}
</ul>